@page "{id:min(1)}"
@model DacProject.WebApp.Pages.Account.ViewModel
@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div class="container border" style="padding:20px">
        <form method="post" class="px-4 py-3">
            <input type="hidden" asp-for="user.Id">
            <div class="mb-3">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" asp-for="user.FirstName" readonly>
            
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" asp-for="user.LastName" readonly>
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" asp-for="user.Email" readonly>
                <span class="text-danger" asp-validation-for="user.Email" ></span>
            
                <label class="form-label">Role</label>
                <input type="text" class="form-control" asp-for="user.Role" readonly>
                @if(Request.Query["Role"] == "Administrator")
                {
                    <label class="form-label">Password</label>
                    <input type="text" class="form-control" asp-for="user.Password" readonly>
                }
            </div>
            <a asp-page="List" asp-route-id=@Request.Query["Role"] class="btn btn-secondary">Cancel</a>
        </form>
</div>